<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum aut pariatur cupiditate corrupti recusandae sint velit officiis ducimus, maiores exercitationem natus delectus qui eveniet consequuntur alias praesentium animi iusto rem. Velit officia tempore nam quo labore? Inventore fuga cumque similique!</p>
    </div>
</div>