<div class="card mt-4 p-4">
    <h1 class="display-4">notes app Nodejs and MongoDB</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti harum earum veritatis sunt quaerat debitis obcaecati tenetur voluptates, </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ut maxime itaque consectetur repellendus et accusamus aliquid est, pariatur quidem, earum cupiditate. Commodi quasi laudantium provident porro atque voluptatem explicabo!</p>
    <a href="#" class="btn btn-primary btn-lg">fazz web</a>
</div>