body{
    background-image:url("../img/U1c.gif");
    background-position: cover;
    object-fit: cover;

}
.jumbotron-mt-4{
    background-color: #ffffff;
    padding:2rem;
    

}
.logo{
    width: 30%;
}